extends layout

block content
  link( rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")

  h1= title

  form.container(id='VehicleForm', action="/resource/resource/vehicles", method="POST")
    div.form-group
        label(for='make') Vehicle make
        input.form-control#make(type='text', name='make')
    div.form-group
        label(for='model') Vehicle model
        input.form-control#model(type='text', name='model')
    div.form-group
        label(for='year') Vehicle year
        input.form-control#year(type='number', name='year')
    input.btn.btn-primary(type="submit")

  script.
    document.forms['VehicleForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });



